.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: auto;
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #FAF1EF;
}
.label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
}

.column_label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column_input {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.button_row {
  padding: 12px 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
